
@font-face {
  font-family: bespoke;
  src: url(https://assets.playground.xyz/JWhitmore/f39ee03a_BespokeSerif-Regular.woff);
}

@font-face {
  font-family: bespokeBold;
  src: url(https://assets.playground.xyz/JWhitmore/cc6e51ce_BespokeSerif-Bold.woff);
}

@font-face {
  font-family: butler;
  src: url(https://assets.playground.xyz/JWhitmore/8380fe7d_Butler-Bold.woff2);
}

@font-face {
  font-family: proxima;
  src: url(https://assets.playground.xyz/JWhitmore/2f3316c7_proxima.otf);
}

:root {
  font-family: bespoke, Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #253036;
  background-color: #f9f9f7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: clamp(12px, 0.8vw, 16px);
}




h1 {
  margin:0;
  color: #95abb5;
  font-family: proxima, Arial, Helvetica, sans-serif;
}

a {
  font-weight: 500;
  color: #95abb5;
  text-decoration: inherit;
}
a:hover {
  color: #7cbfd1;
}

a:hover img {
  filter: brightness(1.1);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


#app {
  position:relative;
  width:100%;
  height:auto;
  top:0;
  display: flex;
  opacity:0;
  background: url(https://assets.playground.xyz/JWhitmore/59d3d051_paper.jpg) #f9f9f7;
}

.edgeGhost {
  position:absolute;
  background-attachment: fixed;
  background: url(https://assets.playground.xyz/JWhitmore/59d3d051_paper.jpg)  #f9f9f7;
}



img {
  height:auto;
  width:100%;
}

img[loaded] {
  visibility: visible;
}

.imgHold {
  position:relative;
}

.imgHold div {
  position:absolute;
  top:0;
  left:0; 
  width:100%;
  height:100%;
  background: rgba(211, 238, 251, 0.15);
}

.imgHold img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline:1px solid rgba(149, 171, 181, 0.2);
  opacity:0;
}

#navBar {
  position:relative;
  width: 16.667%;
  min-width: 400px;
  box-sizing: border-box;
  font-family: butler, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5em;
}


#navFixed {
  position:sticky;
  top:calc(5vh + 30px);
  width:90%;
  min-width: 250px;
  margin:auto;
  padding:30px;
  height:calc(90vh - 60px);
  box-sizing:border-box;
}

#navFixed svg {
  width:100%;
  height:auto;
}

#navHead {
  font-size: 4em;
  font-family: proxima, Arial, Helvetica, sans-serif;
}

#navCurrent {
  font-size:2em;
  height:1.5em;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 30%,  rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(to bottom,  rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 30%,  rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
  overflow:hidden;
  font-family: proxima, Arial, Helvetica, sans-serif;
}

#sectionNav {
  margin-top:2em;
  padding-left: 1em;
}

#linkNav {
  position:absolute;
  bottom:0em;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  font-size: 0.8em;
  padding-left: 1em;
}

#linkNav a {
  position:relative;
}

#linkNav img {
  position:absolute;
  height:auto;
  width:1.2em;
  top:50%;
  transform:translateY(-50%);
}

#linkNav span {
  padding-left:1.5em;
  display:inline-block;
}

#wrapper {
  position:relative;
  box-sizing: border-box;
  width: calc(100% - 16.667%);
  padding-right:20px;
  overflow:hidden;
}

#wrapper > div {
  min-height:100vh;
  display: flex;
  flex-direction: row;
}



/** ------------------------------------------------------------------------------------------------------------- */


#introduction .skirt {
  min-width: 150px;
  flex-grow:1;
}

#introduction .body {
  display: grid; 
  grid-template-columns: 1.75fr 0.25fr 1.3fr;
  margin: 10vh 0;
  max-height:900px;
  flex-grow:0;
  flex-shrink:1;
}

#introduction .body > * {
  position:relative;
  height:100%; 
}


#introInfo {
  max-width: 650px;
  box-sizing: border-box;
  padding: 5vh 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  font-size: 2em;
}

#introInfo > *:not(svg) {
  align-items: center;
}

#introInfo h1 {
  font-size:1.2em;
}

#introInfo .icons a {
  margin-right:0.75em;
}

#introInfo .icons img {
  height:1em;
  width:auto;
}

#introInfo .iconsText {
  position:absolute;
  top:1.5em;
  color: #95abb5;
  font-family: butler, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#introInfo .iconsText span {
  font-size:0.8em;
  position:absolute;
  left:0;
  opacity:0;
  transition: opacity 0.5s;
  white-space: nowrap;
}


/** ------------------------------------------------------------------------------------------------------------- */

#case_studies .skirt {
  min-width: 100px;
  flex-grow:1;
}

#case_studies .body {
  flex-grow:0;
  flex-shrink:1;
}

#case_studies .study {
  position:relative;
  height: auto;
  display:grid;
  grid-template-columns: 1fr 2.5fr;
  grid-auto-flow: dense;
  gap: 75px;
  width:100%;
  padding: 150px 0;
}


#case_studies .study:nth-child(odd) {
  grid-template-columns: 2.5fr 1fr;
  grid-template-areas: 'img .';
}

#case_studies .study:nth-child(even) {
  grid-template-areas: '. img';
}

#case_studies .study:last-child {
  margin-bottom:0px;
}

#case_studies .imgHold {
  padding-top: 56.25%;
  grid-area: img;
}

#case_studies .infoArea {
  min-width: 280px;
  max-width:450px;
}

#case_studies h1 {
  font-size:2.5em;
  margin-bottom:0.5em;
}

#case_studies .info {
 position:relative;
 padding: 5px;
}


#case_studies .cta {
  margin-top:1.5em;
  font-family: bespokeBold, Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #a5b7c0;
  transition: color 0.5s;
}

#case_studies .cta svg {
  position:absolute;
  margin-left:0.5em;
  height:1.5em;
  width:auto;
  transition: transform 0.5s, fill 0.5s;
}

#case_studies .cta:hover, #case_studies .imgHold:hover ~ .infoArea .cta {
  color:#7cbfd1;
  cursor: pointer;
}

#case_studies .cta:hover svg, #case_studies .imgHold:hover ~ .infoArea .cta svg {
  transform:rotate(90deg);
  cursor: pointer;
}

#case_studies .cta:hover svg path, #case_studies .imgHold:hover ~ .infoArea .cta svg path {
  fill: #7cbfd1!important;
  cursor: pointer;
}

#case_studies .imgHold::after {
  content:'Open Study';
  position:absolute;
  left:0;
  top:0;
  background:#7cbfd1;
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:5em;
  color:#f9f9f7;
  opacity:0;
  transition: all 0.5s;
}



#case_studies .cta ~ .imgHold::after, #case_studies .imgHold:hover::after {
  opacity:0.3;
  cursor: pointer;
}

#case_studies .meta {
  position:relative;
  display:flex;
  flex-direction: row;
  text-align:center;
  align-items: center;
  justify-content: space-around;
  font-size: 0.9em;
  margin-bottom: 2em;
  height: 5em;
}

#case_studies .data {
  box-sizing: border-box;
  padding:5px;
}

#case_studies .divider {
  position:relative;
  width:3px!important;
  height:100%;
  background: #95abb5;
  background: linear-gradient(0deg, rgba(149,171,181,0) 0%, rgba(149,171,181,1) 40%, rgba(149,171,181,1) 60%, rgba(149,171,181,0) 100%);
  }

#case_studies span {
  display:block;
}

#case_studies .label {
  font-family: bespokeBold, Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}




/** ------------------------------------------------------------------------------------------------------------- */



.slideshow {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #95abb5;
  font-family: proxima, Arial, Helvetica, sans-serif;  
}

.slideshow img {
  position:absolute;
  height:100%;
  width:auto;
}

.slideshow .controls {
  width:100%;
  display:flex;
  flex-direction: row;
  flex-shrink: 1;
  flex-grow: 1;
  box-sizing: border-box;
}

.slideshow .controls {
  align-items: flex-end;
}

.slideshow .slidesWrapper {
  height:auto;
  width:Min(100%, calc( 16/9 * 100vh - 400px));
  aspect-ratio: 16/9;
  outline:1px solid rgba(149, 171, 181, 0.2);
}

.slideshow .slides {
  position:relative;
  aspect-ratio: 16/9;
}

.slideshow .slide {
  height:100%;
  width:100%;
}

.slideshow .slides::after {
  content:'loading...';
  display:flex;
  justify-content: center;
  align-items: center;
  background:#95abb5 url(https://assets.playground.xyz/JWhitmore/3e3a2e8a_ripple.svg) center no-repeat;
  color: #eceded;
  text-shadow: 0px 0px 4px rgba(0,0,0,0.2);

  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  transition: opacity 0.5s;
}

.slideshow .slides.loading::after {  
  opacity:1;
  transition: opacity 0.2s;
}

.slideshow .controls div {
  position:relative;
  padding:5px 10px;
  height: 40px;
}

.slideshow .count {
  display: flex;
  align-items: center;
}


.controls svg {
  position:relative;
  height:100%;
  width:auto;
}

.controls div::after {
  opacity:0;
  transition: opacity 0.3s;
}

.controls div:hover::after {
  opacity:0.8;
  cursor: pointer;
}


.controls .close::after {
  content:'close';
  position:absolute;
  height:40px;
  aspect-ratio: 1/1;
  top:5px;
  left:10px;
  background:#95abb5;
  color:#eceded;
  font-size:12px;
  border-radius: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.controls .download::after {
  content:'save';
  position:absolute;
  height:40px;
  aspect-ratio: 1/1;
  top:5px;
  left:10px;
  background:#95abb5;
  color:#eceded;
  font-size:12px;
  border-radius: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.controls .next::after {
  content:'next';
  position:absolute;
  height:40px;
  aspect-ratio: 1/1;
  top:5px;
  left:10px;
  background:#95abb5;
  color:#eceded;
  font-size:12px;
  border-radius: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.controls .prev::after {
  content:'prev';
  position:absolute;
  height:40px;
  aspect-ratio: 1/1;
  top:5px;
  left:10px;
  background:#95abb5;
  color:#eceded;
  font-size:12px;
  border-radius: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

/** ------------------------------------------------------------------------------------------------------------- */

#contact .skirt {
  min-width: 50px;
  flex-grow:1;
}

#contact .body {
  display:flex;
  flex-direction: row;
  flex-grow:0;
  flex-shrink:1;
  justify-content: center;
  align-items: center;
  min-width:900px;
  width:100%;
  font-size:2em;
}

#contact .imgHold {
  width:auto;
  height:40%;
  aspect-ratio: 1/1;
}

#contact .contactDetails {
  position:relative;
  margin-left: 50px;
}

#contact .contactDetails svg {
  margin-top: -5px!important;
}

#contact h1 {
  font-size:2.5em;
  line-height:1.2em;
}


#contact .infoArea {
  display:flex;
  flex-direction: column;
  height:40%;
  margin-top: 20px;
  font-size:1.2em;
}

#contact .infoArea a {
  position:relative;
}

#contact .infoArea img {
  position:absolute;
  height:auto;
  width:1em;
  top:50%;
  transform:translateY(-50%);
}

#contact .infoArea #tel span {
  margin-bottom:0.2em;
}

#contact .infoArea span {
  padding-left:1.5em;
  display:inline-block;
}

/** ------------------------------------------------------------------------------------------------------------- */


body.mobile {
  height: 100svh;
  width:100%;
  position: fixed;
  overscroll-behavior-x: none;
}

#mobileApp {
  position:absolute;
  width:100%;
  height:100svh;
  top:0;
  display: flex;
  opacity:0;
  background: url(https://assets.playground.xyz/JWhitmore/1db49aee_marble.jpg) #f9f9f7;
  background-size: cover;
  perspective: 4000px;
  perspective-origin: center 300%;
  overflow: hidden; 
}

#case_studiesMobile .body img {
  outline:1px solid rgba(149, 171, 181, 0.2);
  outline-offset: -1px;
}

.outerContainer {
  position:fixed;
  width:100%;
  height:100%;
  transform-style: preserve-3d;
  will-change: transform;
}

.wrapperContainer {
  position:absolute;
  width:100%;
  height:100%;
  transform-style: preserve-3d;
  will-change: transform;
}

.backface {
  transform: scaleX(-1);
}

.outerShadow {
  position:fixed;
  width:100%;
  height:100%;
  transform-style: preserve-3d;
  will-change: auto;
}

.wrapperShadow {
  position:fixed;
  box-sizing: border-box;
  top:50px;
  left:40px;
  right: 37px;
  height: Min(80%, calc(100% - 155px));
  overflow:hidden;
  background: linear-gradient(to left, rgba(60, 64, 64, 1), rgba(60, 64, 64, 1));
  border-radius: 25px;
  filter: blur(5px);
  transform:translateY(5px);
  opacity:1;
  transform-style: preserve-3d;
  will-change: auto;
}

.mobileWrapper  {
  position:fixed;
  box-sizing: border-box;
  top:50px;
  left:35px;
  right: 35px;
  height: Min(80%, calc(100% - 150px));
  overflow:hidden;
  background: url(https://assets.playground.xyz/JWhitmore/59d3d051_paper.jpg) #f9f9f7;
  border-radius: 25px;
  transform-style: preserve-3d;
}

.mobileWrapperThick {
  position:fixed;
  box-sizing: border-box;
  top:50px;
  left:35px;
  right: 35px;
  height: Min(80%, calc(100% - 150px));
  overflow:hidden;
  background: url(https://assets.playground.xyz/JWhitmore/59d3d051_paper.jpg) #f9f9f7;
  border-radius: 25px;

  outline: 5px solid #a6afb2;
  outline-offset: -5px;
  transform-style: preserve-3d;
}

.mobileWrapper > div { 
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding:30px;
  box-sizing: border-box;
  font-size: 2vh;
}

#introductionMobile {
  display:flex;
  flex-direction: column;
  gap: 2em;
}

#introductionMobile .imgHold {
  height: 100%;
  width:100%;
  box-sizing: border-box;
}

#introductionMobile #introInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  gap: 1em;
  font-size: 1em;
}

#introductionMobile h1 {
  font-size: 1.5em;
} 

/** ------------------------------------------------------------------------------------------------------------- */

#case_studiesMobile .csTitle {
  position:relative;
  width:100%;
}

#case_studiesMobile h1 {
  font-size: 1.6em;
  line-height:1.2em;
  margin-right:10px;
  position:absolute;
  top:0;
}

#case_studiesMobile .meta {
  position:relative;
  display:flex;
  flex-direction: row;
  text-align:center;
  align-items: center;
  justify-content: space-around;
  font-size: 0.9em;
  margin-bottom: 1em;
  margin-top:0.75em;
  height: 5em;
}

#case_studiesMobile .data {
  box-sizing: border-box;
  padding:2px;
}

#case_studiesMobile .divider {
  position:relative;
  width:2px!important;
  height:100%;
  background: #95abb5;
  background: linear-gradient(0deg, rgba(149,171,181,0) 0%, rgba(149,171,181,1) 40%, rgba(149,171,181,1) 60%, rgba(149,171,181,0) 100%);
  }

#case_studiesMobile span {
  display:block;
  font-size: 0.65em;
}

#case_studiesMobile .label {
  font-family: bespokeBold, Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size:1em;
}

#case_studiesMobile .info {
  font-size: 0.8em;
}


#case_studiesMobile .cta {
  position:relative;
  margin-top:1.5em;
  font-size:1.2em;
  font-family: bespokeBold, Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #a5b7c0;
  transition: color 0.5s;
}

#case_studiesMobile .cta svg {
  position:absolute;
  margin-left:0.5em;
  height:1.5em;
  width:auto;
  transition: transform 0.5s, fill 0.5s;
}


#case_studiesMobile {
  position: absolute;
  display: flex;
  flex-direction: column;
  height:100%;
}

#case_studiesMobile .header {
  position:relative;
  display:flex;
  flex-direction: row;
  padding-bottom:20px;
}

#case_studiesMobile .header .download {
  min-width:35px;
  font-size: 0.8em;
  text-align: center;
  font-family: butler, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#case_studiesMobile .body {
  position:relative;
  height:100%;
  width:calc(100% - 4px);
  padding-right: 12px;
  overflow:scroll;
}

#case_studiesMobile .body > div {
  position:absolute;
  top:0;
  width:calc(100% - 12px);
  padding-bottom:10px;
}

#case_studiesMobile .footer {
  position:relative;
  font-size: 0.8em;
  padding-top: 20px;
  padding-left:2em;
  width:100%;
  box-sizing: border-box;
  font-family: butler, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#case_studiesMobile .footer svg {
  position:absolute;
  margin-top:-0.2em;
  margin-left:-2em;
  height:1.5em;
  width:auto;
}

#case_studiesMobile .footer div {
  display:flex;
  flex-direction: row;
  margin: 0.5em 0;
  transition: color 0.5s;
}

#case_studiesMobile .footer div.on {
  color: #96acb6;
}

/** ------------------------------------------------------------------------------------------------------------- */

.eye {
  transition: opacity 0.5s;
}

.eye-outline {
  fill: none; 
  stroke-miterlimit: 10; 
  stroke-linejoin: round; 
  stroke-linecap: round; 
  stroke-width: 3; 
  stroke: #96acb6;  
}

.eye-pupil {
  transform:translateY(0%);
  transition: all 0.5s;
}

.eye-pupil.sleep {
  transform:translateY(20%);
}

.eye-eyelid {
  transform-origin:50% 50%; 
  transform:scaleY(1);
  transition: all 0.5s;
}

.eye-eyelid.sleep {
  transform-origin:50% 50%; 
  transform:scaleY(-1);
}

#contactMobile {
  display: flex;
  flex-direction: column;
}

#contactMobile > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height:100%;
}

#contactMobile .infoArea {
  display:flex;
  flex-direction: column;
  height:40%;
  font-size:1.1em;
}

#contactMobile .infoArea a {
  position:relative;
}

#contactMobile .infoArea img {
  position:absolute;
  height:auto;
  width:1em;
  top:50%;
  transform:translateY(-50%);
}

#contactMobile .infoArea #tel span {
  margin-bottom:0.2em;
}

#contactMobile .infoArea span {
  padding-left:1.5em;
  display:inline-block;
}

.navBar {
  position:fixed;
  bottom:0;
  width:100%;
  height: Max(13%, 75px);
  box-sizing: border-box;
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap:20px;
  font-size:1.3em;
  padding-top:1.5em;
  font-family: butler, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navBar div {
  transition: all 1s;
}

.navBar div.on {
  color: #96acb6;
  /* font-size:1.5em;
  line-height:1; */
}

.mobile-navIndicator {
  position:absolute;
  top:3em;
  left:0;
  height: 1.5em;
  opacity:0;
}